
body {
    background-color:#2C5364;
}

.mainContainer {
    display:grid;
    grid-template-columns:repeat(auto-fit, 1fr);
}

header {
    background-color:#ffff;
    height:40vh;
    width:25vw;
    border-radius:10px;
    margin:20px;
}

.logo, li > img{
    margin-left:20px;
}


.content {
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-wrap:wrap;
    gap:10px;
}

.chapterSection {
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:10px;

    width:30vw;
    height:10vh;
    border-radius:10%;
    background-color:#fff;
}

.info {
    display:flex;
    flex-direction:column;
}

.info > h2 {
    color:green;
}

/*.chapterSection:hover, .chapterSection:before{
   background-color:black;
   color:white;
   border-radius:10px;
} */

.chapterSection > img:hover {
    fill:#ffff;
}

.playingSection {
    font-weight:bold;
    height:10vh;
    width:40vw;
    text-align: center;
    padding: 10px;
    position: sticky;
    margin-left:30%;
    bottom:1%; /* Adjust this value as needed */
}

.audio-player {
    display:flex;
    gap:10px;
    background-color:blue;
    color:white;
    width:400px;
    margin-left:36%;
    position:sticky;
    bottom:1%;
    justify-content:center;
    align-content:center;
    align-items:center;
    text-align:center;
    padding:10px 5px;
    border-radius:10%;

}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.progress {
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius:10px;
}

#current-time, #total-time {
    margin-top: 10px;
}

audio {
    display:none;
}