
body {
 background-color:white;
}

.navbars {
    padding-bottom:10px;
    border-bottom: 1px solid black;
    margin-bottom:10px;
}

.logo, li > img{
    margin-left:100px;
}

button {
    background:transparent;
    border:none;
}

img:hover {
    cursor:pointer;
}

.content {
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-wrap:wrap;
    gap:10px;
}

.chapterSection {
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:10px;
    gap:40%;
    border:1px solid black;
    width:30vw;
    height:10vh;
}

 /*.chapterSection:hover, .chapterSection:before{
    background-color:black;
    color:white;
    border-radius:10px;
} */

.chapterSection > img:hover {
    fill:#ffff;
}

.audio-player {
    width: 400px;
    margin: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.progress {
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
}

#current-time, #total-time {
    margin-top: 10px;
}